<!doctype html>

<html class="l-html" {{ site.language_attributes }}>

    {% set seo_description = post.get_field('seo_description') %}
    {% set seo_image = null %}

    {% if post.get_field('seo_image') %}
        {% set seo_image = post.get_field('seo_image') %}
    {% endif %}

    {% set descr = seo_description ? seo_description : theme_options.seo_description %}
    {% set image = seo_image ? seo_image : theme_options.seo_image %}

    <head>
        <title>{{site.title}} {% block title %}{% endblock %}</title>
        <meta charset="{{ site.charset }}" />
        <meta name="description" content="{{descr}}">
        <link rel="stylesheet" href="{{ site.theme.link }}/static/css/style.css?v={{version}}" type="text/css" media="screen" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" sizes="57x57" href="{{ site.theme.link }}/static/img/fav/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="{{ site.theme.link }}/static/img/fav/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ site.theme.link }}/static/img/fav/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="{{ site.theme.link }}/static/img/fav/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ site.theme.link }}/static/img/fav/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="{{ site.theme.link }}/static/img/fav/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="{{ site.theme.link }}/static/img/fav/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="{{ site.theme.link }}/static/img/fav/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ site.theme.link }}/static/img/fav/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="{{ site.theme.link }}/static/img/fav/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ site.theme.link }}/static/img/fav/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="{{ site.theme.link }}/static/img/fav/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ site.theme.link }}/static/img/fav/favicon-16x16.png">

        <meta property="og:title" content="{{site.title}} {{ block('title') }}"/>
        <meta property="og:image" content="{{image}}"/>
        <meta property="og:site_name" content="{{site.title}}"/>
        <meta property="og:description" content="{{descr}}" />

        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:title" content="{{site.title}} {{ block('title') }}" />
        <meta name="twitter:description" content="{{descr}}" />
        <meta name="twitter:image" content="{{image}}" />

        <meta name="msapplication-TileColor" content="#010202">
        <meta name="theme-color" content="#010202">

        {% include 'partials/analytics.twig' %}

        {{function('wp_head')}}

    </head>

    <body class="{% block extraClass %}{% endblock %}">

        {% include 'partials/preloader.twig' %}

        {% include 'partials/header.twig' %}

        <div class="m-site" id="barba-wrapper">
            {% block content %}{% endblock %}
        </div>

        {{ function('wp_footer') }}

        <script src="{{ site.theme.link }}/static/js/script.js?v={{version}}"></script>
    </body>

</html>



